*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green:#005c2e;
  --dark:#171717;
  --white:#fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.image-container img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all 0.2s linear;
}

#gameBoard {
  width: 100%;
  background-color: var(--dark);
  height: 100vh;
  overflow-y: hidden;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 1rem 2rem;
}

.game-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  grid-gap: 2rem;
}

.opponents {
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-gap: 1rem;
}

.opponent {
  width: 100%;
  position: relative;
  min-height: 200px;
  max-height: 60vh;
}

.opponent-background {
  width: 100%;
  height: 100%;
  position: absolute;
}
.opponent-background img {
  border-radius: 15px;
}

.opponent-image {
  width: 40px;
  height: 40px;
}
.opponent-image img {
  border-radius: 100%;
}

.opponent-details {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.turn-switch {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  top: 1rem;
  right: 1rem;
  max-width: -moz-max-content;
  max-width: max-content;
  height: 5%;
  border-radius: 30px;
  padding: 1rem;
  background-color: var(--white);
}
.turn-switch .light {
  width: 8px;
  height: 8px;
  background-color: #005c2e;
  border-radius: 100%;
  margin-right: 1rem;
}

.opponent-name {
  margin-left: 1rem;
}

.decor-cards {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 15%;
}

.pocker-card {
  cursor: pointer;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  max-width: 140px;
  transition: all 0.1s ease-in;
}

.selected-card {
  transform: translateY(-20px);
  transition: 0.1s all ease-in;
}

.player-board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stacks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-stack {
  width: 40%;
}

.main-stack-cards {
  position: relative;
  width: 100%;
}
.main-stack-cards img {
  height: 30vh;
  max-height: 150px;
}

.discard-board {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
}

#playerStack {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#playerStack .player-stack {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
#playerStack .player-stack .card {
  width: 100%;
  height: 100%;
}
#playerStack .player-stack .card img {
  height: 100%;
  max-height: 130px;
}

.player-discard {
  width: 100%;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-discard img {
  margin-left: 1rem;
  height: 25vh;
  max-height: 150px;
}/*# sourceMappingURL=style.css.map */