*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green:009E4C;
  --dark:#171717;
  --white:#fff;
  --light-grey:#f8f8f8;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

.image-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.image-container img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all 0.2s linear;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 1rem 2rem;
}

.btn-primary {
  border: none;
  outline: none;
  padding: 0.8rem 1.5rem;
  border-radius: 8px;
  font-size: 16px;
}

.btn-primary {
  color: white;
  background-color: #000;
}

input {
  border-radius: 8px;
  padding: 0.8rem 1rem;
  border: none;
  background-color: #f8f8f8;
  font-family: inherit;
  font-size: inherit;
  display: block;
  margin-bottom: 1rem;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  color: white;
  background-color: var(--dark);
  margin-right: 1rem;
}
.icon:last-of-type {
  margin: 0;
}

#gameBoard {
  width: 100%;
  background-color: var(--green);
  height: 100vh;
  overflow-y: hidden;
  color: var(--white);
}

.game-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  grid-gap: 2rem;
}

.opponents {
  width: 100%;
  height: 60%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  grid-gap: 1rem;
}

.opponent {
  width: 100%;
  position: relative;
  min-height: 200px;
  max-height: 60vh;
}

.opponent-background {
  width: 100%;
  height: 100%;
  position: absolute;
}
.opponent-background img {
  border-radius: 15px;
}

.opponent-image {
  width: 40px;
  height: 40px;
}
.opponent-image img {
  border-radius: 100%;
}

.opponent-details {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.turn-switch {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  top: 1rem;
  right: 1rem;
  max-width: -moz-max-content;
  max-width: max-content;
  height: 5%;
  border-radius: 30px;
  padding: 1rem;
  background-color: var(--white);
}
.turn-switch .light {
  width: 8px;
  height: 8px;
  background-color: #005c2e;
  border-radius: 100%;
  margin-right: 1rem;
}

.opponent-name {
  margin-left: 1rem;
}

.decor-cards {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 15%;
}

.pocker-card {
  cursor: pointer;
  border-radius: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  max-width: 140px;
  transition: all 0.1s ease-in;
}

.selected-card {
  transform: translateY(-20px);
  transition: 0.1s all ease-in;
}

.player-board {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stacks {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-stack {
  width: 40%;
}

.main-stack-cards {
  position: relative;
  width: 100%;
}
.main-stack-cards img {
  height: 30vh;
  max-height: 200px;
}

.discard-board {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
}

#playerStack {
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
#playerStack .player-stack {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
#playerStack .player-stack .card {
  width: 100%;
}
#playerStack .player-stack .card img {
  width: 100%;
}

.player-discard {
  width: 100%;
  border-radius: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player-discard img {
  margin-left: 1rem;
  height: 25vh;
}

.waiting-board {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  background-color: var(--white);
  top: 0;
  bottom: 0;
}
.waiting-board .playgame {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 17px;
  width: 200px;
  height: 45px;
  background-color: #171717;
  border-radius: 30px;
  color: var(--white);
  cursor: pointer;
}

.hidden {
  display: none;
}

#authPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
}
#authPage .auth-page-image {
  display: none;
}
#authPage .auth-page-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#authPage .auth-page-form form {
  padding: 2rem;
}
#authPage .auth-page-form form button {
  min-width: 150px;
}
#authPage .auth-page-form form .form-header {
  margin-bottom: 3rem;
}
#authPage .auth-page-form form input {
  width: 100%;
}
#authPage .auth-page-form form .options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#authPage .auth-page-form form .options span {
  margin: 2rem 0;
}
#authPage .auth-page-form form .conditions {
  font-size: 14px;
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
}
#authPage .auth-page-form form .conditions input {
  width: 30px;
  height: 30px;
  margin-right: 1rem;
}
#authPage .auth-page-form form .social-icons {
  display: flex;
  justify-content: space-between;
}
#authPage .auth-page-form .alt-auth {
  text-align: center;
}
@media (min-width: 786px) {
  #authPage .auth-page-image {
    display: block;
    width: 50%;
    height: 100%;
  }
  #authPage .auth-page-form {
    width: 50%;
  }
}

#profile {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--light-grey);
}
#profile nav {
  width: 100%;
  background-color: var(--white);
}
#profile nav .brand {
  font-size: 28px;
  font-weight: 600;
}
#profile nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#profile nav .navbar .user-account {
  display: flex;
  align-items: center;
}
#profile nav .navbar .user-image {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}
#profile nav .navbar .user-image img {
  border-radius: 100%;
}

.user-account {
  position: relative;
}
.user-account:hover > .dropdown {
  display: block;
}
.user-account .user {
  display: flex;
  align-items: center;
}
.user-account .dropdown {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  min-width: 200px;
  width: 25vw;
  min-height: 150px;
  height: -moz-max-content;
  height: max-content;
}
.user-account .dropdown .dropdown-container {
  transform: translateY(60px);
  border-radius: 10px;
  background-color: var(--white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user-account .dropdown .dropdown-container .user-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}
.user-account .dropdown .dropdown-container .user-wrapper .user-image {
  width: 50px !important;
  height: 50px !important;
}
.user-account .dropdown .dropdown-container .user-wrapper .settings-icon {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  padding: 0.2rem;
  border-radius: 8px;
  background-color: var(--light-grey);
}
.user-account .dropdown .dropdown-container .btn {
  text-align: center;
  text-decoration: none;
  color: #000;
  border-radius: 8px;
  width: 100%;
  height: 45px;
  background-color: var(--light-grey);
  padding: 1rem;
}

.profile-main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.profile-main #menu {
  padding: 1rem;
  border-radius: 10px;
  width: 40vw;
  height: 100%;
  background-color: white;
  min-height: 50vh;
}
@media (max-width: 786px) {
  .profile-main #menu {
    display: none;
  }
}
.profile-main #main-content {
  width: 100%;
  margin-left: 5rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.profile-main #main-content .create-game {
  width: 20vw;
  height: 30vh;
  background-color: var(--dark);
  border-radius: 10px;
  color: white;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-main #main-content .create-game a {
  text-decoration: none;
  color: white;
}
.profile-main #main-content .active-players-grid {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  max-width: 400px;
  width: 100%;
  display: grid;
}
.profile-main #main-content .active-players-grid .active-player {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-main #main-content .active-players-grid .active-player .user {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-main #main-content .active-players-grid .active-player .user .user-image {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}
.profile-main #main-content .active-players-grid .active-player .user .user-image img {
  border-radius: 100%;
}
.profile-main #main-content .active-players-grid .active-player button {
  min-width: unset;
  padding: 0.5rem 1.5rem;
  height: 40px;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.modal .modal-cover {
  background-color: rgba(0, 0, 0, 0.1725490196);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  bottom: 0;
}
.modal .modal-content {
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 35vh;
  background-color: var(--white);
  padding: 1rem;
  position: absolute;
  border-radius: 10px;
}
.modal .modal-content .modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.modal .modal-content .modal-container h1 {
  font-size: 32px;
}

#challengeModal .buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
}/*# sourceMappingURL=style.css.map */